@font-face {
  font-family: "Roboto";
  src: url('../../../assets/fonts/Roboto-Regular.ttf') format("truetype");
}

.header {
  display: flex;
  flex-direction: row;
}

a {
  margin: 1rem 0;
}

@media(max-width: 500px) {
  .header div {
    display: flex;
    flex-direction: column;
  }
}

.question {
  columns: 2;
}
span{
  font-size: 12px;
}

kendo-pdf-export {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.question li ul {
  margin-bottom: 1rem;
}