<div class="header">
  <div>
    <span class ="test-label text-bold bigger-label">Nazwa testu:</span> <span class ="text-bold    bigger-label">{{doc_id}}</span>
    <span class ="test-label text-bold bigger-label">Przedmiot:</span> <span class ="text-bold bigger-label">{{singleTest?.Category}}</span> 
  </div>
</div>

<div class="card">
    <div class="card-content">
      <span class ="card-title">Stwórz test</span>
      <form  class ="col s6">
        <div class="row">
          <form [formGroup] = "groupForm" novalidate>
            <input type="text" id="search" formControlName = "search" placeholder="Szukaj" (click) = "openDropDown()" 
              clickOutside (clickOutside)="closeDropDown()" autocomplete="off" >
          </form>
          <div class="tests-container-dropdown" *ngIf = "(showDropDown || search)">
            <div (click)='selectValue(item.id)' *ngFor = "let item of groups | searchFilter: getSearchValue(): 'id'">
              <span class ="text-bold">{{item.id}}</span>
            </div>
          </div>
          <div class ="input=field col s6">
            <button value = "Stwórz" class ="btn btn-make" (click) = "generatePdf()">Stworz</button>
          </div>
        </div>
      </form>
    </div>
  </div>

<!-- Question list -->
<div class = "question-container" *ngIf = "!makePDF">
  <ul class = "collection">
    <li *ngFor = "let item of questions; let i = index;" class ="collection-item">
      <app-question [testId] = "doc_id" [questionId] = "item.id" [correct] = "item.correct" [question] ="item.question" [answers] = "item.answers" [qNr] = "i+1"></app-question>
    </li>
  </ul>
  <a class="btn-floating btn-large waves-effect waves-light green" (click) = "toggleForm()"><i class="material-icons">add</i></a> 
  <app-add-question [testId] = "doc_id" *ngIf = "show" scrollTo></app-add-question>
</div>

<!-- PDF View -->
<ng-container *ngIf = "makePDF">
  <div>
    <button kendo-button class ="btn" (click)="removeBreak(); pdf.saveAs('manual-paging.pdf')">
        Zapisz PDF
    </button>
    <button class ="btn cancel" (click) = "togglePdf()">Anuluj</button>
  </div>
  <kendo-pdf-export #pdf paperSize="A4" margin="1.5cm" [scale] = "1" forcePageBreak=".page-break">
    <div *ngFor = "let student of students; let studNr = index">
      <div style = "width:100%" class ="answers-Nb">
        <span class = "answer-number" *ngFor="let item of [].constructor(questions.length); let i = index">{{i+1}}.</span>
      </div>
      <div id = "qrCode">
          <qr-code [value]="student.qr" [size]="100"></qr-code>
          <div class ="name-surname">
            <span>Imie: {{student.name}}<br></span>
            <span>Nazwisko: {{student.surname}} </span>
          </div>
      </div>
      <ul class ="question" >
        <li *ngFor = "let item of questions">
          <span [innerHTML] = "item.question" class = "question-text"></span>
          <ul>
            <li *ngFor = "let answer of item.answers">
              <span [innerHTML] = "answer" class ="answer"></span>
            </li>  
          </ul>
        </li>
        <div class ="page-break"></div>
        <div class ="page-break"></div>
      </ul>
    </div> 
  </kendo-pdf-export>
</ng-container>