<div class="header">
  <div>
      <span class ="test-label text-bold bigger-label">Nazwa testu:</span> <span class ="text-bold    bigger-label">{{doc_id}}</span>
      <span class ="test-label text-bold bigger-label">Przedmiot:</span> <span class ="text-bold bigger-label">{{singleTest?.Category}}</span> 
  </div>
</div>

<div class="card">
    <div class="card-content">
      <span class ="card-title">Stwórz test</span>
      <form  class ="col s6">
        <div class="row">
          <div class="input-field col s12">
            <input type ="text" name ="group" [(ngModel)]="group" class = "validate" required="" aria-required="true">
            <label>Grupa</label>
          </div>
          <div class ="input=field col s6">
            <button value = "Stwórz" class ="btn btn-make" (click) = "generatePdf()">Stworz</button>
          </div>
        </div>
      </form>
    </div>
  </div>

<div class = "question-container" *ngIf = "!makePDF">
  <ul class = "collection">
    <li *ngFor = "let item of questions; let i = index;" class ="collection-item">
      <app-question [testId] = "doc_id" [questionId] = "item.id" [correct] = "item.correct" [question] ="item.question" [answers] = "item.answers" [qNr] = "i+1"></app-question>
    </li>
  </ul>
  <a class="btn-floating btn-large waves-effect waves-light green" (click) = "toggleForm()"><i class="material-icons">add</i></a>
  
  <app-add-question [testId] = "doc_id" *ngIf = "show" scrollTo></app-add-question>
</div>

<ng-container *ngIf = "makePDF">
  <div>
    <button kendo-button class ="btn" (click)="pdf.saveAs('manual-paging.pdf')">
        Zapisz PDF
    </button>
    <button class ="btn cancel" (click) = "generatePdf()">Anuluj</button>
  </div>
<kendo-pdf-export #pdf paperSize="A4" margin="2cm" [scale] = "1" forcePageBreak=".page-break">
    <ul class ="question" *ngFor = "let w of wojtusie">
      {{w.imie}}
      <div id = "qrCode"></div>
        <li *ngFor = "let item of questions">
            <span [innerHTML] = "item.question" class = "question-text"></span>
            <ul>
              <li *ngFor = "let answer of item.answers">
                <span [innerHTML] = "answer"></span>
              </li>  
            </ul>
        </li>
        <div class ="page-break"></div>
    </ul>
</kendo-pdf-export>
</ng-container>