.header {
  display: flex;
  flex-direction: row;
}

a {
  margin: 1rem 0;
}

@media(max-width: 500px) {
  .header div {
    display: flex;
    flex-direction: column;
  }
}


.question > li {
  margin-bottom: 0.6rem;
}

.question ul {
  margin-top: 0.5rem;
}

.answers-Nb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3.5rem 0 3.5rem 0;
}

.nb {
  width: 2rem;
  border: 0.4px solid rgb(228, 225, 225);
  display: inline-block; 
  text-align: center;
  margin-bottom: 0.7rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.empty {
  border-left: none;
  border-right: none;
}
.empty > span {
  opacity: 0;
}
.answers-Nb > div:last-child .empty {
  border-right: 0.4px solid rgb(228, 225, 225);
}

/* QR style */
#test-header{
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name-surname {
  line-height: 1.7rem;
}

.question {
  columns: 2;

}
.answer, .question-text, .name-surname {
  font-size: 1rem;
}

.answers-Nb > div:nth-child(10n) .empty{
  color: #000 !important;
  border-right: 0.4px solid rgb(228, 225, 225);
}

.nb span{
  font-weight: bold;
  font-size: 1.4rem;
}

/* Remove input margin for Drop Down */
form input {
  margin-bottom: 0;
}


@media print{
  .page-break {page-break-before:always;}
}