<div class="card" >
  <div class="card-content">
    <span class ="card-title">Dodaj Test</span>
    <form (ngSubmit) = "onSubmit()" class ="col s6">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" name ="question" class="materialize-textarea validate" [(ngModel)]="testName" required="" aria-required="true"></textarea>
          <label>Nazwa testu</label>
        </div>
        <div class="input-field col s12">
          <textarea id="textarea1" name ="answerA" class="materialize-textarea validate" [(ngModel)]="testCategory" required="" aria-required="true"></textarea>
        <label>Przedmiot</label>
        </div>
        <div class ="input-field col s12 buttons">
          <button type ="submit" value = "Dodaj" class ="btn green"><i class="material-icons left">add</i>Dodaj </button>
      </div>
      <div class ="input-field col s12">
        Wczytaj pytania z pliku:
        <input type="file" name="file" class="inputfile" (change)="changeListener($event)" />
      </div>
    </div>
    </form>
  </div>
</div>

<div class ="question-container" *ngFor = "let item of questions; let i = index;trackBy:indexTracker">
   {{i + 1}}. <span [innerHTML] = "item.question"></span>
    <ul>
      <li *ngFor = "let answer of item.answers; let k = index;trackBy:indexTracker" >
        <form>
          <label>
            <input class="with-gap move-down"  [(ngModel)]="item.correct" name="i-correct{{k}}" type="radio"  [value]="answer | slice : 0 : 2 " [attr.disabled] = "true" />
            <span class ="answer" [innerHTML] = "answer"></span>
          </label>
        </form>
      </li>
    </ul>
    <hr>
  </div>