.buttons .load {
  margin-left: 1rem;
}
.buttons a:hover {
  background: var(--primary-hover) !important;
}

input[type="file"] {
  padding: 0;
}
span {
  color: #333 !important;
}

.question-container:last-child hr {
  display:none;
}

/* Info box */
strong {
  font-weight: bold;
}

.img {
  margin-bottom: 1rem;
}

h5 {
  text-align: center;
}

.info {
  background-color:#F4C095;
  color: #fff;
  padding: 0.5rem;
}
.info ul {
  list-style: disc !important;
}