/* List style */
.list-container ul {
  margin-top: 1rem;
}

.list-container ul li {
  line-height: 2rem;
}

.collection .collection-item:hover {
  background-color: var(--list-hover);
  transition: background-color .5s ease-out;
}
.list-item {
  color: #333;
  font-weight: 600;
}

.list-item label {
  font-style: italic;
  color: var(--primary-color);
  font-weight: bold;
}


/* Remove input margin for Drop Down */
form input {
  margin-bottom: 0;
}
