
<div class="list-container">
    <form [formGroup] = "testForm" novalidate>
      <input type="text" id="search" formControlName = "search" placeholder="Szukaj" (click) = "openDropDown()" 
        clickOutside (clickOutside)="closeDropDown()" autocomplete="off" >
      </form>

      <div class="tests-container-dropdown" *ngIf = "(showDropDown || search)">
        <div (click)='selectValue(item.name)' *ngFor = "let item of tests | searchFilter: getSearchValue(): 'name'">
          <span class ="text-bold">{{item.name}}</span>
          <span class ="test-label">{{item.Category}}</span>
        </div>
      </div>
     
    <a [routerLink]="['/newtest']" class ="btn btn-green">Dodaj test</a>
    <div *ngIf="tests?.length > 0; else noItems">
      <ul class ="collection" *ngFor = "let item of tests | searchFilter: getSearchValue(): 'name'">
        <a [routerLink]="['/test', item.id]" class ="list-item">
          <li class="collection-item" >
            <span class ="test-label">Nazwa testu:</span> {{item.name}} <br>
            <span class ="test-label">Przedmiot:</span> {{item.Category}} 
          </li>
        </a>
      </ul>
    </div>
      
    <ng-template #noItems>
      <hr>
      <h5>Brak testów!</h5>
    </ng-template>
</div>




