p {
  color: var(--secondary-color);
  font-size: 1.1rem;
}

p span {
  font-weight: bold;
}

.cancel {
  margin-left: 2rem;
  background: #ff6d00;
}

a:hover {
  background-color: #ffab40; 
}