<div class="card">
    <div class="card-content">
      <span class ="card-title">Wyświetl studentów:</span>
      <form  class ="col s6">
        <div class="row">
          <form [formGroup] = "groupForm" novalidate>
            <input type="text" id="search" formControlName = "search" placeholder="Szukaj" (click) = "openDropDown()" 
              clickOutside (clickOutside)="closeDropDown()" autocomplete="off" >
          </form>
          <div class="tests-container-dropdown" *ngIf = "(showDropDown || search)">
            <div (click)='selectValue(item.id)' *ngFor = "let item of groups | searchFilter: getSearchValue(): 'id'">
              <span class ="text-bold">{{item.id}}</span>
            </div>
          </div>
          <div class ="input=field col s6">
            <button class ="btn" (click) = "getStudents()">Wyszukaj</button>
          </div>
        </div>
      </form>
    </div>
</div>

<div *ngIf="studentArr?.length > 0 ; else noItems">
  <ul class ="collection" *ngFor = "let item of studentArr">  
    <li class="collection-item" >
      <app-student [student] = "item" [group] = "getSearchValue()"></app-student>
    </li>
  </ul>
</div>
  
<ng-template #noItems>
  <hr>
  <h5>Brak studentów!</h5>
</ng-template>