/* Remove input margin for Drop Down */
form input {
  margin-bottom: 0;
}

/* List style */
.list-container ul {
  margin-top: 1rem;
}

.list-container ul li {
  line-height: 2rem;
}

.list-item {
  color: #333;
  font-weight: 600;
}

.list-item label {
  font-style: italic;
  color: var(--primary-color);
  font-weight: bold;
}

i {
  cursor: pointer;
}

/* Buttons */
.green {
  margin-left: 1rem;
}

strong {
  font-weight: bold;
}

@media (max-width: 999px){
  .hoverWrapper{
    display: none;
  }
}


@media(min-width: 1000px){

  /* Info text*/

  .hoverWrapper:hover .hoverShow {
    display:block;
  }

  .hoverWrapper .hoverShow {
    display: none;
    position: absolute;
    left: 24rem;
    top: -4rem;
    
    background: #333;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
  }

}