<ng-container *ngIf = "!showAddF">
  <div class="card">
    <div class="card-content">
      <span class ="card-title">Wyświetl studentów:</span>
      <form  class ="col s6">
        <div class="row">
          <form [formGroup] = "groupForm" novalidate>
            <input type="text" id="search" formControlName = "search" placeholder="Szukaj" (click) = "openDropDown()" 
              clickOutside (clickOutside)="closeDropDown()" autocomplete="off" >
          </form>
          <div class="tests-container-dropdown" *ngIf = "(showDropDown || search)">
            <div (click)='selectValue(item.id)' *ngFor = "let item of groups | searchFilter: getSearchValue(): 'id'">
              <span class ="text-bold">{{item.id}}</span>
            </div>
          </div>
          <div class ="input=field col s6">
            <button class ="btn" (click) = "getStudents()">Wyszukaj</button>
            <button class ="btn green" (click) = "showAddForm()">Dodaj studentów</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <div *ngIf="studentArr?.length > 0 ; else noItems">
    <ul class ="collection" *ngFor = "let item of studentArr">  
      <li class="collection-item" >
        <app-student [student] = "item" [group] = "getSearchValue()"></app-student>
      </li>
    </ul>
  </div>
      
</ng-container>

<ng-template #noItems>
  <hr>
  <h5>Brak studentów!</h5>
</ng-template>


<!-- Add students form -->
<ng-container *ngIf = "showAddF">
  <div class="card">
    <div class="card-content">
      <span class ="card-title">Dodaj studentów:
        <div class ="hoverWrapper secondary-content">
          <i class="fa fa-exclamation" aria-hidden="true"></i>
          <div class ="hoverShow secondary-content">
            Możesz wstawić wielu studentów na raz umieszając ich po ',' np.: <br> 
            <strong>Jan Kowalski</strong>, <strong>Jan Nowak</strong>. <br> Pamiętaj o tym aby ilość nr. indeksu zgadzała się z ilością studentów.
          </div>  
        </div>
      </span>
      <form  class ="col s6">
        <div class="row">
          <form [formGroup] = "addStudentsForm" validate>
            <div class="input-field col s12">
              <textarea id="students" name ="students" class="materialize-textarea validate" formControlName="students" required="" aria-required="true"></textarea>
              <label>Studenci</label>
            </div>
            <div class="input-field col s12">
              <textarea id="indexes" name ="indexes" class="materialize-textarea validate" formControlName="indexes" required="" aria-required="true"></textarea>
              <label>Indeksy</label>
            </div>
              <div class="input-field col s12">
                <textarea id="students" name ="groupName" class="materialize-textarea validate" formControlName="groupName" required="" aria-required="true"></textarea>
                <label>Grupa</label>
              </div>
          </form>
          <div class ="input=field col s6">
            <button class ="btn green" (click) = "addStudents()">Wyślij</button>
            <button class ="btn cancel" (click) = "showSearchForm()">Anuluj</button>
          </div>
        </div>
      </form>
    </div>
    <ng-container *ngIf = "indexExist != ''">
        <div class="alert" scrollTo>
          <span class="closebtn" (click) = "indexExistError()">&times;</span>
          Jeden z indeksów już istnieje w tej grupie! Wszystkie poprzednie zostały wstawione do bazy.
          <span >{{indexExist}}</span>
        </div>
    </ng-container>
  </div>
</ng-container>
