@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
  font-family: 'Roboto';
  src: url("/assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

:root {
  --primary-color : #26a69a;
  --primary-hover : #2ec9b9;
  --secondary-color: #C92F3F;
  --menu-hover: rgb(230, 54, 71);
  --comp-color: #071E22;
  --list-hover: rgb(245, 243, 243);

}
body {
  font-family: 'Arial', sans-serif;
}
/* Content Container*/
.container {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  
}

.current {
  background-color:  var(--menu-hover);
}

header {
  width:100%;
  height: 5rem;
  background: var(--secondary-color);
}


.btn-green:hover {
  background-color: var(--secondary-color)
}

.btn {
  margin-top: 1.5rem;
}

.text-bold{
  margin-left: .5rem;
  font-weight: bold;
}

.test-label{
  margin-left: .5rem;
  font-style: italic;
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--primary-color);  
}

.bigger-label {
  font-size: 1.5rem;
}

/* Cancel button style */
.cancel {
  margin-left: 1rem;
  background: #ff6d00 !important;
}

.buttons a:hover:nth-child(3)  {
  background: var(--secondary-color) !important;
}
.buttons a:hover:nth-child(2)  {
  background:  #f79143! important;
}

/*  Submit add and edit question button */
.buttons [type="submit"]:hover {
  background: rgb(89, 204, 93) !important;
}

.green:hover {
  background: rgb(87, 190, 90) !important;
}

.red:hover {
  background: rgb(196, 54, 68) !important;
}

.error {
  background: var(--secondary-color);
  color: #fff !important;
  padding: 1rem;
}

/* The alert message box */
.alert {
  padding: 1.3rem;
  background-color: var(--secondary-color);
  color: white;
  margin-bottom: 1rem;
}

/* The close button */
.closebtn {
  margin-left: 1rem;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 1.5rem;
  line-height: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* Search Drop Down */
.tests-container-dropdown {
  z-index: 1;
  width: 100%;
  max-height: 10rem;
  overflow-y: auto;
  border: 1px solid var(--primary-color);
}

.tests-container-dropdown div {
  padding: .5rem;
  border-bottom: 1px dotted var(--primary-color);
  cursor: pointer !important;
}

.tests-container-dropdown div:hover {
  background: var(--list-hover);
  transition: background .5s ease-out;
}

/* Remove border from last child */
.tests-container-dropdown div:last-child {
  border: none;
}

@media(max-width: 500px) {
  .tests-container-dropdown div {
    display: flex;
    flex-direction: column;
  }
}