<!-- Normal view -->
<div *ngIf = "!editState">
  <form class="form-inline">
    <span><a class ="secondary-content"><i (click) = "toggleEditState()" class ="fa fa-pencil"></i></a> {{qNr}}. {{question}} </span>
    <ul>
      <li *ngFor = "let answer of answers">
          <label>
            <input class="with-gap move-down" [(ngModel)]="correct" name="correct-answer" value="{{answer | slice : 0 : 2 }}" type="radio"  [checked]="checkIfCorrect(answer)" [attr.disabled] = "editState" />
            <span class ="answer"> {{answer}} </span>
          </label>
      </li>
    </ul>
  </form>
</div>

<!-- Edit question view -->
<div *ngIf = "editState">
  <div class="card" >
    <div class="card-content">
      <span class ="card-title">
        Edytuj pytanie
        <a class ="secondary-content"><i (click) = "toggleEditState()" class ="fa fa-pencil"></i></a>
      </span>
      <form (ngSubmit) = "onSubmit()" class ="col s12">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1"  name ="question" class="materialize-textarea validate" [(ngModel)]="editQuestion" required="" aria-required="true" autoresize ></textarea>
          </div>
          <div class="input-field col s12">
            <ul>
              <li *ngFor = "let answer of editAnswers;let i = index;trackBy:indexTracker">
                <div class ="col s12 ">
                  <label class ="edit-mode">
                    <input class="with-gap move-down" [(ngModel)]="editCorrect" name="correct{{i}}" value="{{editAnswers[i] | slice : 0 : 2 }}" type="radio"  [checked]="checkIfCorrect(answer)"/> <span class = "input-answers">
                      <textarea id="textarea" name ="answer{{i}}" class="materialize-textarea" [(ngModel)]="editAnswers[i]"></textarea>
                    </span>
                  </label> 
                </div>
              </li>
            </ul>
          </div>
          <div class ="input=field col s12 buttons">
            <button type ="submit" value = "Dodaj" class ="btn green "><i class="material-icons left">add</i>Edytuj</button>
            <a class="btn cancel" (click) = "toggleEditState()"><i class="material-icons left">cancel</i>Anuluj</a>
            <a class="btn red secondary-content" (click) = "deleteItem()"><i class="material-icons left">delete</i>Usuń</a>
          </div>   
        </div>  
      </form>
    </div>
    </div>
</div>

<ng-container *ngIf="showError" >
    <div class="alert">
        <span class="closebtn" (click) = "showErrorBox()">&times;</span>
        Powtarzające się nagłówki odpowiedzi lub błąd formatu!<br>
        Np. <strong>A. nie skompiluje się </strong>  lub  <strong>B. 5</strong> itp.
      </div>
</ng-container>
